{% extends 'base.html' %}
{% load static %}


    {% block title %}AI.Tech - Artificial Intelligence HTML Template{% endblock %}

    {% block css %}
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Ubuntu:wght@500;700&display=swap"
            rel="stylesheet">

        <!-- Icon Font Stylesheet -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

        <!-- Libraries Stylesheet -->
        <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
        <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

        <!-- Customized Bootstrap Stylesheet -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
    {% endblock %}

    {% block hero %}
        <!-- Hero Start -->
        <div class="container-fluid pt-5 bg-primary hero-header mb-5">
            <div class="container pt-5">
                <div class="row g-5 pt-5">
                    <div class="col-lg-6 align-self-center text-center text-lg-start mb-lg-5">
                        <div class="btn btn-sm border rounded-pill text-white px-3 mb-3 animated slideInRight">AI.Tech</div>
                        <h1 class="display-4 text-white mb-4 animated slideInRight">Artificial Intelligence for Your Business</h1>
                        <p class="text-white mb-4 animated slideInRight">Tempor rebum no at dolore lorem clita rebum rebum ipsum
                            rebum stet dolor sed justo kasd. Ut dolor sed magna dolor sea diam. Sit diam sit</p>
                        <a href="" class="btn btn-light py-sm-3 px-sm-5 rounded-pill me-3 animated slideInRight">Read More</a>
                        <a href="" class="btn btn-outline-light py-sm-3 px-sm-5 rounded-pill animated slideInRight">Contact Us</a>
                    </div>
                    <div class="col-lg-6 align-self-end text-center text-lg-end">
                        <img class="img-fluid" src="{% static 'img/robot-removebg-preview.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero End -->
    {% endblock %}

    {% block content %}
        <!-- About Start -->
        <div class="container-fluid py-5">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                        <div class="about-img">
                            <img class="img-fluid" src="{% static 'img/about-img.jpg' %}">
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                        <div class="btn btn-sm border rounded-pill text-primary px-3 mb-3">About Us</div>
                        <h1 class="mb-4">We Make Your Business Smarter with Artificial Intelligence</h1>
                        <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum et tempor sit. Aliqu diam
                            amet diam et eos labore. Clita erat ipsum et lorem et sit, sed stet no labore lorem sit. Sanctus
                            clita duo justo et tempor eirmod magna dolore erat amet</p>
                        <p class="mb-4">Aliqu diam amet diam et eos labore. Clita erat ipsum et lorem et sit, sed stet no
                            labore lorem sit. Sanctus clita duo justo et tempor.</p>
                        <div class="row g-3">
                            <div class="col-sm-6">
                                <h6 class="mb-3"><i class="fa fa-check text-primary me-2"></i>Award Winning</h6>
                                <h6 class="mb-0"><i class="fa fa-check text-primary me-2"></i>Professional Staff</h6>
                            </div>
                            <div class="col-sm-6">
                                <h6 class="mb-3"><i class="fa fa-check text-primary me-2"></i>24/7 Support</h6>
                                <h6 class="mb-0"><i class="fa fa-check text-primary me-2"></i>Fair Prices</h6>
                            </div>
                        </div>
                        <div class="d-flex align-items-center mt-4">
                            <a class="btn btn-primary rounded-pill px-4 me-3" href="">Read More</a>
                            <a class="btn btn-outline-primary btn-square me-3" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-primary btn-square me-3" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-primary btn-square me-3" href=""><i class="fab fa-instagram"></i></a>
                            <a class="btn btn-outline-primary btn-square" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->


        <!-- Service Start -->
        <div class="container-fluid bg-light mt-5 py-5">
            <div class="container py-5">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-5 wow fadeIn" data-wow-delay="0.1s">
                        <div class="btn btn-sm border rounded-pill text-primary px-3 mb-3">Our Services</div>
                        <h1 class="mb-4">Our Excellent AI Solutions for Your Business</h1>
                        <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum et tempor sit. Aliqu diam
                            amet diam et eos labore. Clita erat ipsum et lorem et sit, sed stet no labore lorem sit. Sanctus
                            clita duo justo et tempor eirmod magna dolore erat amet</p>
                        <a class="btn btn-primary rounded-pill px-4" href="">Read More</a>
                    </div>
                    <div class="col-lg-7">
                        <div class="row g-4">
                            <div class="col-md-6">
                                <div class="row g-4">
                                    {% for service in service_data %}
                                    <div class="col-12 wow fadeIn" data-wow-delay="0.1s" id="service_{{ service.id }}">
                                        <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                                            <div class="service-icon btn-square">
{#                                                <i class="fa fa-robot fa-2x"></i>#}
                                                <img src="{{ service.image.img.url }}" alt="Service image" style="width: 100px !important;">
                                            </div>
                                            <h5 class="mb-3">{{ service.title }}</h5>
                                            <p>{{ service.description }}</p>
                                            {% if user.is_authenticated %}
                                                <form method="post">
                                                {% csrf_token %}
                                                    <input type="hidden" name="service_id" value="{{ service.id }}">
                                                    <button class="btn px-3 mt-auto mx-auto" type="submit">Read More</button>
                                                </form>
                                            {% else %}
                                            <a class="btn px-3 mt-auto mx-auto" href="/accounts/login">Read More</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% endfor %}
{#                                    <div class="col-12 wow fadeIn" data-wow-delay="0.5s">#}
{#                                        <div class="service-item d-flex flex-column justify-content-center text-center rounded">#}
{#                                            <div class="service-icon btn-square">#}
{#                                                <i class="fa fa-power-off fa-2x"></i>#}
{#                                            </div>#}
{#                                            <h5 class="mb-3">Machine learning</h5>#}
{#                                            <p>Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet#}
{#                                                diam sed stet lorem.</p>#}
{#                                            <a class="btn px-3 mt-auto mx-auto" href="">Read More</a>#}
{#                                        </div>#}
{#                                    </div>#}
                                </div>
                            </div>
{#                            <div class="col-md-6 pt-md-4">#}
{#                                <div class="row g-4">#}
{#                                    <div class="col-12 wow fadeIn" data-wow-delay="0.3s">#}
{#                                        <div class="service-item d-flex flex-column justify-content-center text-center rounded">#}
{#                                            <div class="service-icon btn-square">#}
{#                                                <i class="fa fa-graduation-cap fa-2x"></i>#}
{#                                            </div>#}
{#                                            <h5 class="mb-3">Education & Science</h5>#}
{#                                            <p>Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet#}
{#                                                diam sed stet lorem.</p>#}
{#                                            <a class="btn px-3 mt-auto mx-auto" href="">Read More</a>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="col-12 wow fadeIn" data-wow-delay="0.7s">#}
{#                                        <div class="service-item d-flex flex-column justify-content-center text-center rounded">#}
{#                                            <div class="service-icon btn-square">#}
{#                                                <i class="fa fa-brain fa-2x"></i>#}
{#                                            </div>#}
{#                                            <h5 class="mb-3">Predictive Analysis</h5>#}
{#                                            <p>Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet#}
{#                                                diam sed stet lorem.</p>#}
{#                                            <a class="btn px-3 mt-auto mx-auto" href="">Read More</a>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Service End -->


        <!-- Feature Start -->
        <div class="container-fluid bg-primary feature pt-5">
            <div class="container pt-5">
                <div class="row g-5">
                    <div class="col-lg-6 align-self-center mb-md-5 pb-md-5 wow fadeIn" data-wow-delay="0.3s">
                        <div class="btn btn-sm border rounded-pill text-white px-3 mb-3">Why Choose Us</div>
                        <h1 class="text-white mb-4">We're Best in AI Industry with 10 Years of Experience</h1>
                        <p class="text-light mb-4">Aliqu diam amet diam et eos labore. Clita erat ipsum et lorem et sit, sed
                            stet no labore lorem sit. Sanctus clita duo justo et tempor</p>
                        <div class="d-flex align-items-center text-white mb-3">
                            <div class="btn-sm-square bg-white text-primary rounded-circle me-3">
                                <i class="fa fa-check"></i>
                            </div>
                            <span>Diam dolor diam ipsum et tempor sit</span>
                        </div>
                        <div class="d-flex align-items-center text-white mb-3">
                            <div class="btn-sm-square bg-white text-primary rounded-circle me-3">
                                <i class="fa fa-check"></i>
                            </div>
                            <span>Diam dolor diam ipsum et tempor sit</span>
                        </div>
                        <div class="d-flex align-items-center text-white mb-3">
                            <div class="btn-sm-square bg-white text-primary rounded-circle me-3">
                                <i class="fa fa-check"></i>
                            </div>
                            <span>Diam dolor diam ipsum et tempor sit</span>
                        </div>
                        <div class="row g-4 pt-3">
                            <div class="col-sm-6">
                                <div class="d-flex rounded p-3" style="background: rgba(256, 256, 256, 0.1);">
                                    <i class="fa fa-users fa-3x text-white"></i>
                                    <div class="ms-3">
                                        <h2 class="text-white mb-0" data-toggle="counter-up">9999</h2>
                                        <p class="text-white mb-0">Happy Clients</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="d-flex rounded p-3" style="background: rgba(256, 256, 256, 0.1);">
                                    <i class="fa fa-check fa-3x text-white"></i>
                                    <div class="ms-3">
                                        <h2 class="text-white mb-0" data-toggle="counter-up">9999</h2>
                                        <p class="text-white mb-0">Project Complete</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 align-self-end text-center text-md-end wow fadeIn" data-wow-delay="0.5s">
                        <img class="img-fluid" src="{% static 'img/feature.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!-- Feature End -->


        <!-- Case Start -->
        <div class="container-fluid bg-light py-5">
            <div class="container py-5">
                <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 500px;">
                    <div class="btn btn-sm border rounded-pill text-primary px-3 mb-3">Case Study</div>
                    <h1 class="mb-4">Explore Our Recent AI Case Studies</h1>
                </div>
                <div class="row g-4">
                    <div class="col-lg-4 wow fadeIn" data-wow-delay="0.3s">
                        <div class="case-item position-relative overflow-hidden rounded mb-2">
                            <img class="img-fluid" src="{% static 'img/project-1.jpg' %}" alt="">
                            <a class="case-overlay text-decoration-none" href="">
                                <small>Robotic Automation</small>
                                <h5 class="lh-base text-white mb-3">Lorem elitr magna stet eirmod labore amet labore clita
                                </h5>
                                <span class="btn btn-square btn-primary"><i class="fa fa-arrow-right"></i></span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 wow fadeIn" data-wow-delay="0.5s">
                        <div class="case-item position-relative overflow-hidden rounded mb-2">
                            <img class="img-fluid" src="{% static 'img/project-2.jpg' %}" alt="">
                            <a class="case-overlay text-decoration-none" href="">
                                <small>Machine learning</small>
                                <h5 class="lh-base text-white mb-3">Lorem elitr magna stet eirmod labore amet labore clita
                                </h5>
                                <span class="btn btn-square btn-primary"><i class="fa fa-arrow-right"></i></span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 wow fadeIn" data-wow-delay="0.7s">
                        <div class="case-item position-relative overflow-hidden rounded mb-2">
                            <img class="img-fluid" src="{% static 'img/project-3.jpg' %}" alt="">
                            <a class="case-overlay text-decoration-none" href="">
                                <small>Predictive Analysis</small>
                                <h5 class="lh-base text-white mb-3">Lorem elitr magna stet eirmod labore amet labore clita
                                </h5>
                                <span class="btn btn-square btn-primary"><i class="fa fa-arrow-right"></i></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Case End -->


        <!-- FAQs Start -->
        <div class="container-fluid py-5">
            <div class="container py-5">
                <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 500px;">
                    <div class="btn btn-sm border rounded-pill text-primary px-3 mb-3">Popular FAQs</div>
                    <h1 class="mb-4">Frequently Asked Questions</h1>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="accordion" id="accordionFAQ1">
                            <div class="accordion-item wow fadeIn" data-wow-delay="0.1s">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                        How to build a website?
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                                    data-bs-parent="#accordionFAQ1">
                                    <div class="accordion-body">
                                        Dolor nonumy tempor elitr et rebum ipsum sit duo duo. Diam sed sed magna et magna diam aliquyam amet dolore ipsum erat duo. Sit rebum magna duo labore no diam.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item wow fadeIn" data-wow-delay="0.2s">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        How long will it take to get a new website?
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                    data-bs-parent="#accordionFAQ1">
                                    <div class="accordion-body">
                                        Dolor nonumy tempor elitr et rebum ipsum sit duo duo. Diam sed sed magna et magna diam aliquyam amet dolore ipsum erat duo. Sit rebum magna duo labore no diam.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item wow fadeIn" data-wow-delay="0.3s">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Do you only create HTML websites?
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                    data-bs-parent="#accordionFAQ1">
                                    <div class="accordion-body">
                                        Dolor nonumy tempor elitr et rebum ipsum sit duo duo. Diam sed sed magna et magna diam aliquyam amet dolore ipsum erat duo. Sit rebum magna duo labore no diam.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item wow fadeIn" data-wow-delay="0.4s">
                                <h2 class="accordion-header" id="headingFour">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                        Will my website be mobile-friendly?
                                    </button>
                                </h2>
                                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                                    data-bs-parent="#accordionFAQ1">
                                    <div class="accordion-body">
                                        Dolor nonumy tempor elitr et rebum ipsum sit duo duo. Diam sed sed magna et magna diam aliquyam amet dolore ipsum erat duo. Sit rebum magna duo labore no diam.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="accordion" id="accordionFAQ2">
                            <div class="accordion-item wow fadeIn" data-wow-delay="0.5s">
                                <h2 class="accordion-header" id="headingFive">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                        Will you maintain my site for me?
                                    </button>
                                </h2>
                                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                                    data-bs-parent="#accordionFAQ2">
                                    <div class="accordion-body">
                                        Dolor nonumy tempor elitr et rebum ipsum sit duo duo. Diam sed sed magna et magna diam aliquyam amet dolore ipsum erat duo. Sit rebum magna duo labore no diam.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item wow fadeIn" data-wow-delay="0.6s">
                                <h2 class="accordion-header" id="headingSix">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                        I’m on a strict budget. Do you have any low cost options?
                                    </button>
                                </h2>
                                <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                                    data-bs-parent="#accordionFAQ2">
                                    <div class="accordion-body">
                                        Dolor nonumy tempor elitr et rebum ipsum sit duo duo. Diam sed sed magna et magna diam aliquyam amet dolore ipsum erat duo. Sit rebum magna duo labore no diam.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item wow fadeIn" data-wow-delay="0.7s">
                                <h2 class="accordion-header" id="headingSeven">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                        Will you maintain my site for me?
                                    </button>
                                </h2>
                                <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                                    data-bs-parent="#accordionFAQ2">
                                    <div class="accordion-body">
                                        Dolor nonumy tempor elitr et rebum ipsum sit duo duo. Diam sed sed magna et magna diam aliquyam amet dolore ipsum erat duo. Sit rebum magna duo labore no diam.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item wow fadeIn" data-wow-delay="0.8s">
                                <h2 class="accordion-header" id="headingEight">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                        I’m on a strict budget. Do you have any low cost options?
                                    </button>
                                </h2>
                                <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
                                    data-bs-parent="#accordionFAQ2">
                                    <div class="accordion-body">
                                        Dolor nonumy tempor elitr et rebum ipsum sit duo duo. Diam sed sed magna et magna diam aliquyam amet dolore ipsum erat duo. Sit rebum magna duo labore no diam.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- FAQs Start -->


        <!-- Team Start -->
        <div class="container-fluid bg-light py-5">
            <div class="container py-5">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-5 wow fadeIn" data-wow-delay="0.1s">
                        <div class="btn btn-sm border rounded-pill text-primary px-3 mb-3">Our Team</div>
                        <h1 class="mb-4">Meet Our Experienced Team Members</h1>
                        <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum et tempor sit. Aliqu diam
                            amet diam et eos labore. Clita erat ipsum et lorem et sit, sed stet no labore lorem sit. Sanctus
                            clita duo justo et tempor eirmod magna dolore erat amet</p>
                        <a class="btn btn-primary rounded-pill px-4" href="">Read More</a>
                    </div>
                    <div class="col-lg-7">
                        <div class="row g-4">
                            <div class="col-md-6">
                                <div class="row g-4">
                                    <div class="col-12 wow fadeIn" data-wow-delay="0.1s">
                                        <div class="team-item bg-white text-center rounded p-4 pt-0">
                                            <img class="img-fluid rounded-circle p-4" src="{% static 'img/team-1.jpg' %}" alt="">
                                            <h5 class="mb-0">Boris Johnson</h5>
                                            <small>Founder & CEO</small>
                                            <div class="d-flex justify-content-center mt-3">
                                                <a class="btn btn-square btn-primary m-1" href=""><i
                                                        class="fab fa-facebook-f"></i></a>
                                                <a class="btn btn-square btn-primary m-1" href=""><i
                                                        class="fab fa-twitter"></i></a>
                                                <a class="btn btn-square btn-primary m-1" href=""><i
                                                        class="fab fa-instagram"></i></a>
                                                <a class="btn btn-square btn-primary m-1" href=""><i
                                                        class="fab fa-linkedin-in"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 wow fadeIn" data-wow-delay="0.5s">
                                        <div class="team-item bg-white text-center rounded p-4 pt-0">
                                            <img class="img-fluid rounded-circle p-4" src="{% static 'img/team-2.jpg' %}" alt="">
                                            <h5 class="mb-0">Adam Crew</h5>
                                            <small>Executive Manager</small>
                                            <div class="d-flex justify-content-center mt-3">
                                                <a class="btn btn-square btn-primary m-1" href=""><i
                                                        class="fab fa-facebook-f"></i></a>
                                                <a class="btn btn-square btn-primary m-1" href=""><i
                                                        class="fab fa-twitter"></i></a>
                                                <a class="btn btn-square btn-primary m-1" href=""><i
                                                        class="fab fa-instagram"></i></a>
                                                <a class="btn btn-square btn-primary m-1" href=""><i
                                                        class="fab fa-linkedin-in"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 pt-md-4">
                                <div class="row g-4">
                                    <div class="col-12 wow fadeIn" data-wow-delay="0.3s">
                                        <div class="team-item bg-white text-center rounded p-4 pt-0">
                                            <img class="img-fluid rounded-circle p-4" src="{% static 'img/team-3.jpg' %}" alt="">
                                            <h5 class="mb-0">Kate Winslet</h5>
                                            <small>Co Founder</small>
                                            <div class="d-flex justify-content-center mt-3">
                                                <a class="btn btn-square btn-primary m-1" href=""><i
                                                        class="fab fa-facebook-f"></i></a>
                                                <a class="btn btn-square btn-primary m-1" href=""><i
                                                        class="fab fa-twitter"></i></a>
                                                <a class="btn btn-square btn-primary m-1" href=""><i
                                                        class="fab fa-instagram"></i></a>
                                                <a class="btn btn-square btn-primary m-1" href=""><i
                                                        class="fab fa-linkedin-in"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 wow fadeIn" data-wow-delay="0.7s">
                                        <div class="team-item bg-white text-center rounded p-4 pt-0">
                                            <img class="img-fluid rounded-circle p-4" src="{% static 'img/team-4.jpg' %}" alt="">
                                            <h5 class="mb-0">Cody Gardner</h5>
                                            <small>Project Manager</small>
                                            <div class="d-flex justify-content-center mt-3">
                                                <a class="btn btn-square btn-primary m-1" href=""><i
                                                        class="fab fa-facebook-f"></i></a>
                                                <a class="btn btn-square btn-primary m-1" href=""><i
                                                        class="fab fa-twitter"></i></a>
                                                <a class="btn btn-square btn-primary m-1" href=""><i
                                                        class="fab fa-instagram"></i></a>
                                                <a class="btn btn-square btn-primary m-1" href=""><i
                                                        class="fab fa-linkedin-in"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Team End -->


        <!-- Testimonial Start -->
        <div class="container-xxl py-5">
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-lg-5 wow fadeIn" data-wow-delay="0.1s">
                        <div class="btn btn-sm border rounded-pill text-primary px-3 mb-3">Testimonial</div>
                        <h1 class="mb-4">What Say Our Clients!</h1>
                        <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum et tempor sit. Aliqu diam
                            amet diam et eos labore. Clita erat ipsum et lorem et sit, sed stet no labore lorem sit. Sanctus
                            clita duo justo et tempor eirmod magna dolore erat amet</p>
                        <a class="btn btn-primary rounded-pill px-4" href="/comment">Read More</a>
                    </div>
                    <div class="col-lg-7 wow fadeIn" data-wow-delay="0.5s">
                        <div class="owl-carousel testimonial-carousel border-start border-primary">
                            {% for comment in comments %}
                            <div class="testimonial-item ps-5">
                                <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                                <p class="fs-4">{{ comment.message }}</p>
                                <div class="d-flex align-items-center">
{#                                    <img class="img-fluid flex-shrink-0 rounded-circle" src="{% static 'img/testimonial-1.jpg' %}" style="width: 60px; height: 60px;">#}
                                    {% if comment.user %}
                                        <i class="fas fa-user-circle"></i>
                                        <div class="ps-3">
                                            <h5 class="mb-1">{{ user.first_name }} {{ user.last_name }}</h5>
                                            <span>Coder</span>
                                        </div>
                                    {% else %}
                                        <i class="fas fa-user-alt-slash"></i>
                                        <div class="ps-3">
                                            <h5 class="mb-1">Anonymous user</h5>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            {% endfor %}
{#                            <div class="testimonial-item ps-5">#}
{#                                <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>#}
{#                                <p class="fs-4">Aliqu diam amet diam et eos labore. Clita erat ipsum et lorem et sit, sed stet no labore lorem sit. Sanctus clita duo justo et tempor eirmod magna dolore erat amet</p>#}
{#                                <div class="d-flex align-items-center">#}
{#                                    <img class="img-fluid flex-shrink-0 rounded-circle" src="{% static 'img/testimonial-2.jpg' %}"#}
{#                                        style="width: 60px; height: 60px;">#}
{#                                    <div class="ps-3">#}
{#                                        <h5 class="mb-1">Client Name</h5>#}
{#                                        <span>Profession</span>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="testimonial-item ps-5">#}
{#                                <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>#}
{#                                <p class="fs-4">Aliqu diam amet diam et eos labore. Clita erat ipsum et lorem et sit, sed stet no labore lorem sit. Sanctus clita duo justo et tempor eirmod magna dolore erat amet</p>#}
{#                                <div class="d-flex align-items-center">#}
{#                                    <img class="img-fluid flex-shrink-0 rounded-circle" src="{% static 'img/testimonial-3.jpg' %}"#}
{#                                        style="width: 60px; height: 60px;">#}
{#                                    <div class="ps-3">#}
{#                                        <h5 class="mb-1">Client Name</h5>#}
{#                                        <span>Profession</span>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial End -->


        <!-- Newsletter Start -->
        <div class="container-fluid bg-primary newsletter py-5">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-md-5 ps-lg-0 pt-5 pt-md-0 text-start wow fadeIn" data-wow-delay="0.3s">
                        <img class="img-fluid" src="{% static 'img/newsletter.png' %}" alt="">
                    </div>
                    <div class="col-md-7 py-5 newsletter-text wow fadeIn" data-wow-delay="0.5s">
                        <div class="btn btn-sm border rounded-pill text-white px-3 mb-3">Newsletter</div>
                        <h1 class="text-white mb-4">Let's subscribe the newsletter</h1>
                        <div class="position-relative w-100 mt-3 mb-2">
                            <input class="form-control border-0 rounded-pill w-100 ps-4 pe-5" type="text"
                                placeholder="Enter Your Email" style="height: 48px;">
                            <button type="button" class="btn shadow-none position-absolute top-0 end-0 mt-1 me-2"><i
                                    class="fa fa-paper-plane text-primary fs-4"></i></button>
                        </div>
                        <small class="text-white-50">Diam sed sed dolor stet amet eirmod</small>
                    </div>
                </div>
            </div>
        </div>
        <!-- Newsletter End -->
    {% endblock %}

    {% block js %}
        <!-- JavaScript Libraries -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'lib/wow/wow.min.js' %}"></script>
        <script src="{% static 'lib/easing/easing.min.js' %}"></script>
        <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
        <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
        <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>

        <!-- Template Javascript -->
        <script src="{% static 'js/main.js' %}"></script>
    {% endblock %}